{% extends "layouts/main.html" %}
{% block content %}

<div class="container-fluid first-row" >
	<div class="row">
		<div class="col-auto">			
			<form action="/load-folder" method="post" id="frmFolder" class="form form-inline row">				
				<div class="col-auto">
					<input type="text" placeholder="Folder" id="folderpath" class="form-control" name="folderpath" value="/media/aldo/data/projects/aldoapp-university/apps/react-admin" />
				</div>
				<div class="col-auto">	
					<button id="btnBrowse" class="btn btn-success" type="submit">Browse</button>
				</div>	
			</form>
		</div>
		<div class="col-auto">
		
			<form action="/load-folder" method="post" id="frmAutocomplete" class="form form-inline row">
				<div class="col-auto">
					<label>Autocomplete</label>
				</div>
				<div class="col-auto">
					<input type="text" class="form-control" placeholder="extensions" name="extensions" value=".js, .jsx, .ts, .tsx" />
				</div>
				<div class="col-auto">
					<input type="text" class="form-control" placeholder="language" name="language" value="javascript" />
				</div>
				<div class="col-auto">	
					<button id="btnAutoComplete" class="btn btn-info" type="submit">Go</button>
				</div>	
			</form>	
		</div>
	</div>
</div>
<div class="container-fluid second-row d-none">
	<div class="row justify-content-center">
		<div class="col-md-12">									
			<div class="containerx">
			  <div id="pane1">
				  <div id="dirtree">
					  
				  </div>
			  </div>
			  <div class="splitter" id="splitter"></div>
			  <div id="pane2">
					<div class="tabs-container">
						<button class="scroll-button" id="scroll-left">&lt;</button>
						<div class="tabs" id="editor-tabs"></div>
						<button class="scroll-button" id="scroll-right">&gt;</button>
					</div>
					<div id="breadcrumbs">
						<div id="functionSelect">
							<select id="functionDropdown" class="form-control">
							  <option value="">Select a function...</option>
							</select>
						  </div>
					</div>
					<div id="editor-container"></div>
			  </div>
			  
			</div>
		</div>
	</div>
</div>
{% endblock %}

{% block jsfiles%}

<script src="/assets/package/min/vs/loader.js"></script>
<script>require.config({ paths: { 'vs': '/assets/package/min/vs' }});</script>
<script type="text/javascript" src="assets/js/elements.js"></script>
<script type="text/javascript" src="assets/js/editor.js"></script>
<script type="text/javascript" src="assets/js/dirfiles.js"></script>
<script type="text/javascript" src="assets/js/main.js"></script>

{% endblock %}
