{% extends "layouts/main.html" %}
{% block content %}

<div class="container-fluid first-row" >
	<div class="row">
		<div class="col-auto">			
			<form action="/load-folder" method="post" id="frmFolder" class="form form-inline row">				
				<div class="col-auto  d-flex align-items-center">
					<input type="text" placeholder="Folder" id="folderpath" class="" name="folderpath" value="" />
				</div>
				<div class="col-auto d-flex align-items-center">	
					<button id="btnBrowse" class="" type="submit">Browse</button>
				</div>	
			</form>
		</div>
		<div class="col-auto">
		
			<form action="/load-folder" method="post" id="frmAutocomplete" class="form form-inline row">
				<div class="col-auto  d-flex align-items-center">
					<label>Autocomplete</label>
				</div>
				<div class="col-auto d-flex align-items-cente">
					<input type="text" class="" placeholder="extensions" name="extensions" value=".js, .jsx, .ts, .tsx" />
				</div>
				<div class="col-auto d-flex align-items-cente">
					<input type="text" class="" placeholder="language" name="language" value="javascript" />
				</div>
				<div class="col-auto d-flex align-items-cente">	
					<button id="btnAutoComplete" class="" type="submit">Go</button>
				</div>	
			</form>	
		</div>
	</div>
</div>
<div class=" second-row d-none">
	<div class=" justify-content-center">
		<div class="col-md-12">									
			<div class="containerx">
			  <div id="">
					<ul class="nav nav-tabs" id="myTab" role="tablist">
						<li class="nav-item" role="presentation">
							<button class="nav-link active" id="files-tab" data-bs-toggle="tab" data-bs-target="#files" type="button" role="tab" aria-controls="files" aria-selected="true">Files</button>
						</li>
						<li class="nav-item" role="presentation">
							<button class="nav-link" id="syntaxtree-tab" data-bs-toggle="tab" data-bs-target="#syntaxtree" type="button" role="tab" aria-controls="syntaxtree" aria-selected="false">Syntax</button>
						</li>
					
					</ul>
					<div class="tab-content" id="pane1">
						<div class="tab-pane fade show active" id="files" role="tabpanel" aria-labelledby="files-tab">
							<div id="dirtree"></div>
						</div>
						<div class="tab-pane fade" id="syntaxtree" role="tabpanel" aria-labelledby="syntaxtree-tab">
							<button id="btnSyntaxTree">Refresh</button>
							<div id="syntaxtree"></div>
						</div>
						
					</div>
				  
			  </div>
			  <div class="splitter" id="splitter"></div>
			  <div id="pane2">
					
					<div class="tabs-container">
						<button class="scroll-button" id="scroll-left">&lt;</button>
						<div class="tabs" id="editor-tabs"></div>
						<button class="scroll-button" id="scroll-right">&gt;</button>
					</div>
					<div id="breadcrumbs">
						<div id="functionSelect">
							<select id="functionDropdown" class="">
							  <option value="">Select a function...</option>
							</select>
						  </div>
					</div>
					<div id="editor-container"></div>
			  </div>
			  
			</div>
		</div>
	</div>
</div>
<div class="container-fluid status-row d-none">
	<div class="row justify-content-center " id="row-status">
		<div class="col-md-12">
			<div class="d-flex">
				<div class=" flex-grow-1"></div>
				<div class="mx-2">
					<span id="statusLine"></span>
				</div>
				<div class="mx-2">
					<span id="statusProcess">Loading</span>
				</div>
			</div>
			
		</div>	
	</div>	
</div>
<div class="context-menu" id="context-menu">
	<div class="context-menu-item" id="close-tab">Close this tab</div>
	<div class="context-menu-item" id="close-other-tabs">Close other tabs</div>
</div>
{% endblock %}

{% block jsfiles%}

<script src="/assets/package/min/vs/loader.js"></script>
<script>require.config({ paths: { 'vs': '/assets/package/min/vs' }});</script>
<script type="text/javascript" src="assets/js/elements.js"></script>
<script type="text/javascript" src="assets/js/editor.js"></script>
<script type="text/javascript" src="assets/js/dirfiles.js"></script>
<script type="text/javascript" src="assets/js/main.js"></script>

{% endblock %}
