{% extends "layouts/main.html" %}
{% block content %}

<div class="container-fluid first-row" >
	<div class="row">
		<div class="btn-toolbar flex-fill align-items-start col-auto" role="toolbar">
			<div class="btn-group mr-2" role="group">
			  <button type="button" class="" id="openFolderBtn" data-bs-toggle="modal" data-bs-target="#folderModal">
				<i class="fa fa-folder-open"></i> Open Folder
			  </button>
			  <button type="button" class="" id="saveCurrentTabBtn">
				<i class="fa fa-save"></i> Save File
			  </button>
			  <button type="button" class="" id="saveAllTabsBtn">
				<i class="fa fa-save"></i> Save All
			  </button>
			  <button type="button" class="" id="openAutocomplete" data-bs-toggle="modal" data-bs-target="#autoCompleteModal">
				<i class="fa fa-bolt"></i> AutoComplete
			  </button>
			  
			  
			</div>
		</div>
		
		<div class="col-auto align-items-end">
			<button type="button" class="float-end" id="closeFolderBtn">
				<i class="fa fa-times"></i> Close
			</button>
			
		</div>
	</div>
</div>
<div class=" second-row d-none">
	<div class=" justify-content-center">
		<div class="col-md-12">									
			<div class="containerx">
			  <div id="">
					<ul class="nav nav-tabs" id="myTab" role="tablist">
						<li class="nav-item" role="presentation">
							<button class="nav-link active" id="files-tab" data-bs-toggle="tab" data-bs-target="#files" type="button" role="tab" aria-controls="files" aria-selected="true">Files</button>
						</li>
						<li class="nav-item" role="presentation">
							<button class="nav-link" id="syntaxtree-tab" data-bs-toggle="tab" data-bs-target="#syntaxtree" type="button" role="tab" aria-controls="syntaxtree" aria-selected="false">Syntax</button>
						</li>
					
					</ul>
					<div class="tab-content" id="pane1">
						<div class="tab-pane fade show active" id="files" role="tabpanel" aria-labelledby="files-tab">
							<div id="dirtree"></div>
						</div>
						<div class="tab-pane fade" id="syntaxtree" role="tabpanel" aria-labelledby="syntaxtree-tab">
							<button id="btnSyntaxTree">Refresh</button>
							<div id="syntaxtree"></div>
						</div>
						
					</div>
				  
			  </div>
			  <div class="splitter" id="splitter"></div>
			  <div id="pane2">
					<div id="main-pane">
						<div class="tabs-container">
							<button class="scroll-button" id="scroll-left">&lt;</button>
							<div class="tabs" id="editor-tabs"></div>
							<button class="scroll-button" id="scroll-right">&gt;</button>
						</div>
						<div id="breadcrumbs">
							<div id="functionSelect">
								<select id="functionDropdown" class="">
								  <option value="">Select a function...</option>
								</select>
							  </div>
						</div>
						<div id="editor-container"></div>
						<div id="divider"></div>
						<div id="editor2" class="editor-instance"></div>
					</div>
					<div id="right-pane">
					</div>					
			  </div>
			  
			</div>
		</div>
	</div>
</div>
<div class="container-fluid status-row d-none">
	<div class="row justify-content-center " id="row-status">
		<div class="col-md-12">
			<div class="d-flex">
				<div class=" flex-grow-1" id="bottomToolbar">
					
				</div>
				<div class="d-flex mx-2 align-items-center">
					<span id="statusLine"></span>
				</div>
				<div class="d-flex mx-2  align-items-center">
					<span id="statusProcess">Loading</span>
				</div>
			</div>
			
		</div>	
	</div>	
</div>
<div class="context-menu" id="context-menu">
	<div class="context-menu-item" id="copy-path">Copy File Path</div>
	<div class="context-menu-item" id="close-tab">Close this tab</div>
	<div class="context-menu-item" id="close-other-tabs">Close other tabs</div>
</div>
<!-- Modal -->
<div class="modal fade" id="folderModal" tabindex="-1" aria-labelledby="folderModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="folderModalLabel">Open Folder</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form action="/load-folder" method="post" id="frmFolder" class="">                
          <div class="w-100 mb-2">
            <input type="text" placeholder="Folder" id="folderpath" class=" w-100" name="folderpath" value="" />
          </div>
          <div class="">    
            <button id="btnBrowse" class="" data-bs-dismiss="modal"  type="submit">Browse</button>
          </div>    
        </form>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="autoCompleteModal" tabindex="-1" aria-labelledby="folderModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="folderModalLabel">Auto Complete</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
			<form action="/load-folder" method="post" id="frmAutocomplete" class="">
				
				<div class="w-100 mb-2">
					<input type="text" class="w-100" placeholder="extensions" name="extensions" value=".js, .jsx, .ts, .tsx" />
				</div>
				<div class="w-100 mb-2">
					<input type="text" class="w-100" placeholder="language" name="language" value="javascript" />
				</div>
				<div class="w-100 mb-2">	
					<button id="btnAutoComplete" class="" data-bs-dismiss="modal" type="submit">Go</button>
				</div>	
			</form>	
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block jsfiles%}
<!--corejs-->
<script src="/assets/package/min/vs/loader.js"></script>
<script>require.config({ paths: { 'vs': '/assets/package/min/vs' }});</script>
<script type="text/javascript" src="assets/js/elements.js"></script>
<script type="text/javascript" src="assets/js/editor.js"></script>
<script type="text/javascript" src="assets/js/dirfiles.js"></script>
<script type="text/javascript" src="assets/js/main.js"></script>
<script type="text/javascript" src="assets/js/plugin.js"></script>
<!--endcorejs-->
<script type="text/javascript" src="assets/plugins/index.js"></script>

{% endblock %}
