{% extends "layouts/main.html" %}
{% block content %}
<div class="container">
	<div class="row justify-content-center">
		<div class="col-md-9 col-lg-12 col-xl-10">
			<div class="card shadow-lg o-hidden border-0 my-5">
				<div class="card-body p-0">
					<div class="row">
						<div class="col-lg-6 d-none d-lg-flex">
							<div class="flex-grow-1 bg-login-image" style="background-image: url(&quot;assets/img/avatars/login-img.jpg&quot;);"></div>
						</div>
						<div class="col-lg-6">
							<div class="p-5">
								<div class="text-center">
									<!--<h4 class="text-dark mb-4">Selamat Datang <br/>Aplikasi Surat Menyurat dan Dokumen </h4>-->
								</div>
								<form class="user" id="loginform">
									<div class="statusbox"></div>
									<div class="mb-3">
										<input class="form-control form-control-user" type="email" id="login-username" aria-describedby="emailHelp" placeholder="Enter Email Address..." name="email" value="" />
									</div>
									<div class="mb-3">
										<input class="form-control form-control-user" type="password" id="login-password" placeholder="Password" name="password" value="" /></div>
									<div class="mb-3">
										
									</div><button class="btn btn-primary d-block btn-user w-100" type="submit" id="btn-login">Login</button>
									
									<hr>
								</form>
								
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}

{% block jsfiles%}
<script type="text/javascript" src="assets/js/pages/login.js"></script>
{% endblock %}
