<!doctype html>
<head>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
	<title>{{title}}</title>
	<link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css">    
    <link rel="stylesheet" href="/assets/fonts/fontawesome-all.min.css">
    <link rel="stylesheet" href="/assets/jstree/dist/themes/default/style.min.css" />
    
	<!-- jQuery -->
	<script src="/assets/js/jquery-3.6.0.min.js"></script>
	<!-- jQuery UI -->
	<link rel="stylesheet" href="/assets/css/jquery-ui.css">	
	<script src="/assets/js/jquery-ui.min.js"></script>
	
    <link rel="stylesheet" href="/assets/css/style.css"  type="text/css"/>
	
	
	
	<script src='https://js.sentry-cdn.com/467c66395ca14dbab0ac0ba3a8beabca.min.js' crossorigin="anonymous"></script>	

    {%block css %}{% endblock %}
    
    
</head>
<body class="">
	<div id="page-top"></div>
    {% block content %} {% endblock %}
	
	
</div>
	<!--<script type="text/javascript" src="/assets/js/jquery.min.js"></script>
	<script type="text/javascript" src="/assets/js/jquery-ui.min.js"></script>-->
    <script src="/assets/bootstrap/js/bootstrap.min.js"></script>       
	<script type="text/javascript" src="/assets/Sortable-1.15.0/Sortable.min.js"></script>
	<script src="/assets/jstree/dist/jstree.min.js"></script>		
	
	{% block jsfiles %} {% endblock %}
</body>
</html>
