 html, body {
  height: 100%;
}
.container-fluid.second-row, .row {
  height: 100%;
}
#pane1{
	overflow:scroll;	
}
.split, .gutter.gutter-horizontal {
  float: left;
}
.gutter.gutter-horizontal {
  cursor: ew-resize;
}


.containerx {
    display: flex;
    height: 100%;
    width: 100%;
}

.pane {
    flex: 1;
    overflow: auto;
    padding: 10px;
}

.splitter {
    background: #ddd;
    cursor: ew-resize; /* Change to ns-resize for horizontal splitters */
    width: 5px; /* Change to height for horizontal splitters */
    cursor: col-resize;
}
.pane1{
	overflow:scroll;
}
#pane2{
	position:relative;
	flex: 1;
}
#editor-container{
	position:absolute;
	width:100%;
	left:0;
	top:55px;
	right:0;
	bottom:0;
}
#editor-tabs{
	display:flex;
}
#editor-tabs>.tab{
	display:inline-block;
	padding: 0px 12px;
    border: thin solid;
    cursor:pointer;
    margin-bottom: 4px;
}
.close-tab{
	display:inline;
	color:#f00;
	margin-left:5px;
}
#editor-tabs>.tab.active{
	color:#0f0;
}

#functionDropdown{
    font-size: 14px;
    padding: 0 4px;
    color: #000;
