 html, body {
  height: 100%;
  background:#000;
}
.container-fluid.second-row, .row {
  height: 100%;
}
#pane1{
	overflow:scroll;	
	scrollbar-color: dark;
}
 #pane1 ::-webkit-scrollbar-track {
	background: #f1f1f1;
}

#pane1 ::-webkit-scrollbar-thumb {
	background: #888;
	border-radius: 10px;
}

#pane1 ::-webkit-scrollbar-thumb:hover {
	background: #555;
}
.split, .gutter.gutter-horizontal {
  float: left;
}
.gutter.gutter-horizontal {
  cursor: ew-resize;
}


.containerx {
    display: flex;
    height: 100%;
    width: 100%;
}

.pane {
    flex: 1;
    overflow: auto;
    padding: 10px;
}

.splitter {
    background: #ddd;
    cursor: ew-resize; /* Change to ns-resize for horizontal splitters */
    width: 5px; /* Change to height for horizontal splitters */
    cursor: col-resize;
}
.pane1{
	overflow:scroll;
	
}
#pane2{
	position:relative;
	flex: 1;
}
#editor-container{
	position:absolute;
	width:100%;
	left:0;
	top:55px;
	right:0;
	bottom:0;
}
#editor-tabs{
	display:block;
	overflow: hidden;
	height: 30px;
	overflow-x: hidden;
  white-space: nowrap;
  flex-grow: 1;
  -webkit-overflow-scrolling: touch;
}
#editor-tabs>.tab{
    position: relative;
	display: table-cell;
	vertical-align: middle;
	height:30px;
	padding: 0px 23px 0 12px;
    border: thin solid;
    cursor:pointer;
    margin-bottom: 4px;
    
    max-width: 200px; /* the element needs a fixed width (in px, em, %, etc) */
	overflow: hidden; /* make sure it hides the content that overflows */
	white-space: nowrap; /* don't break the line */
	text-overflow: ellipsis; /* give the beautiful '...' effect */
}
.tabs-container {
  display: flex;
  align-items: center;
}

.scroll-button {
  background-color: #4444;
  color: white;
  border: none;

  cursor: pointer;
  height: 30px;
width: 30px;
}
.tab.dirty{
	color:#f00 !important;
}
.close-tab{
	display: inline;
    color: #f00;
    margin-left: 5px;
    position: absolute;
    right: 10px;
    z-index: 999;
}
#editor-tabs>.tab.active{
	color:#0f0;
}
.context-menu {
  display: none;
  position: absolute;
  background-color: white;
  border: 1px solid #ccc;
  z-index: 1000;
}

.context-menu-item {
  padding: 8px 12px;
  cursor: pointer;
}

.context-menu-item:hover {
  background-color: #007bff;
  color: white;
}
#functionDropdown{
    font-size: 14px;
    padding: 0 4px;
    color: #fff;
    background-color: #333;
}
